*{
    display: block;
}
.hint{
    display: none;
    font-size: 12px;
    color: #888;
    position: absolute;
    bottom: -20px;
    left: 0;
}
input:focus + .hint{
    display: block;
}